/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
   font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}



/*ここから*/
body{
  margin:0;
  font-family:"游ゴシック";
}

header h1{
  float: left;
  padding:40px 0 0 70px;
}

nav{
  float:right;
  padding:35px 50px 0 0;
}

nav ul li{
  float: left;
  padding-left:58px;
  transition: all 0.5s;
}

nav ul li :hover{
  opacity: 0.8;
}

.clearfix{
  clear:both;
}

.top-wrapper{
  width:100%;
  height:900px;
    /* ↑本当はautoにしたいけど、上手くいかないから高さ指定した */
  background-size: cover;
  background-image: url(https://github.com/aknoh/aknoh.github.io/blob/master/kushiro-mainbg.jpg?raw=true);
  position: relative;
}


/*タイトルの3行　これでいいのかわからない
    上下中央寄せあとで*/

div#page-title{
  width:297px;
  height:178px;
  position: absolute;
  top: 380px ;
  left: 810px;
  color: white;
  }

p#day{
  font-size:27px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
}

div#page-title h1{
  font-size:66px;
  line-height: 90px;
  text-align: center;
  font-weight: 400;
}

p#japanese {
  font-size:23px;
  line-height: 20px;
  text-align: center;
  font-family: "游明朝";
}

.map{
  padding-top: 180px;
  text-align: center;
}



.main-wrapper{
  width: 1520px;
  margin: 0 200px;
}

.seafood{
  width:100%;
  height:auto;
    /* ↑あとでautoに */
  margin-top:250px;
}

.seafood-left{
  float: left;
}

.seafood h2{
  font-size:65px;
  font-weight: 500;
  padding: 50px 0 0 300px ;
}

img#seafood1{
  padding-top:150px;
}

.seafood-right{
  float: right;
}

.seafood-conents{
  padding:50px 0 0 10px;
}


p.message{
  margin-top:70px;
  font-family: "游明朝";
  font-size: 20px;
  line-height: 40px;
  padding-left:10px;
}

p#pin{
  display: inline-block;
  margin-top:70px;
  background:url(https://github.com/aknoh/aknoh.github.io/blob/master/icon-pin.png?raw=true) no-repeat;
  height:56px;
  margin-left: 1px;
  padding-left:55px;
  padding-right:30px;
  line-height: 56px;
  text-decoration: none;
  color: #3C3C3C;
}

p#car{
  display: inline-block;
  margin-top:13px;
  background:url(https://github.com/aknoh/aknoh.github.io/blob/master/icon-car.png?raw=true) no-repeat;
  height:37px;
  padding-left:45px;
  line-height: 37px;
  text-decoration: none;
  color: #3C3C3C;
}

.kushiromarsh{
  width:100%;
  height:auto;
    /* ↑あとでautoに */
  margin-top:250px;
  position: relative;
}

.kushiromarsh-left{
  float: left;
}

.kushiromarsh h2{
  font-size:65px;
  font-weight: 500;
  padding: 0 0 0 150px ;
}

.kushiromarsh-conents{
  padding:80px 0 0 125px;
}

img#kushiromarsh1{
  padding-top:100px;
}

.kushiromarsh-right{
  float: right;
}

img#kushiromarsh2{
  padding-top: 40px;

}

img#kushiromarsh3{
  padding-top:125px;
  position: absolute;
  top: 600px;
  left: 837px;
}


.lunchtime{
  width:100%;
  height:auto;
    /* ↑あとでautoに */
  margin-top:250px;
}

.lunchtime-left{
  float: left;
}

.lunchtime h2{
  font-size:65px;
  font-weight: 500;
  padding: 100px 0 0 330px ;
}

img#lunchtime{
}

.lunchtime-right{
  float: left;
}

.lunchtime-conents{
  padding:70px 0 0 330px;
}



.button-wrapper{
  width:100%;
  height:267px;
  margin-top:270px
}

.button-wrapper li{
  width:20%;
  height: 267px;
  float: left;
  list-style: none;
}

.button-wrapper li a{
  height: 267px;
  text-decoration: none;
  display: block;
  transition: all 0.5s;
}

.button-wrapper li a:hover{
  background-color: black;
  opacity: 0.8;
}

a#btn-furano{
  background:url(images/icon-furano.png);
}

a#btn-biei{
  background:url(images/icon-biei.png);
}

a#btn-shiretoko{
  background:url(images/icon-shiretoko.png);
}

a#btn-kushiro{
  background:url(images/icon-kushiro.png);
}

a#btn-obihiro{
  background:url(images/icon-obihiro.png);
}



footer{
 
}
